<launch>
  <node pkg="nodelet" type="nodelet" name="manager" args="manager" output="screen">
    <param name="num_worker_threads" value="16"/>
  </node>

  <include file="$(find uav_simulator)/launch/uav_simulator.launch"/>

  <node pkg="nodelet" type="nodelet" name="mapping" args="load mapping/Nodelet manager" output="screen">
    <!-- camera parameters -->
    <rosparam command="load" file="$(find mapping)/config/camera.yaml"/>
    <!-- remap topics -->
    <remap from="~odom" to="odom"/>
    <remap from="~depth" to="depth"/>
    <remap from="~gridmap" to="gridmap"/>
    <remap from="~gridmap_inflate" to="gridmap_inflate"/>
    <param name="down_sample_factor" value="2"/>
    <!-- depth filter parameters -->
    <param name="depth_filter_tolerance" value="0.15"/>
    <param name="depth_filter_mindist" value="0.2"/>
    <param name="depth_filter_margin" value="2"/>
    <!-- raycasting parameters -->
    <param name="p_min" value="-199"/>
    <param name="p_max" value=" 220"/>
    <param name="p_hit" value="  62"/>
    <param name="p_mis" value="  62"/>
    <param name="p_occ" value=" 139"/>
    <param name="p_def" value="-199"/>
    <!-- mapping parameters -->
    <param name="resolution" value="0.15"/>
    <param name="local_x" value="20"/>
    <param name="local_y" value="20"/>
    <param name="local_z" value="5"/>
    <param name="inflate_size" value="1"/>
  </node>
</launch>